
<div class="profile-form center-block">
    <h2>Add a profile</h2>
      <p>Fill in this form to create a profile</p>

    <form role="form" ng-submit="checkAddProfile()" method="post">
        {{ form.csrf_token }}

            
        <div class="form-group" ng-model="firstname" name="firstname">
            {{ form.firstname.label }}
            {{ form.firstname(class='form-control', placeholder="Enter your Firstname") }}
        </div>
        
        <div class="form-group" ng-model="lastname" name="lastname">
            {{ form.lastname.label }}
            {{ form.lastname(class='form-control', placeholder="Enter your lastname") }}
        </div>
        
        
        <div class="form-group" ng-model="age" name="age">
            {{ form.age.label }}
            {{ form.age(class='form-control', placeholder="Select your age") }}
        </div>
          
          
        <div class="form-group" ng-model="sex" name="sex">
            {{ form.sex.label }}
            {{ form.sex(class='form-control', placeholder="Select your gender") }}
        </div>
      
        
        <div class="form-group" ng-model="biography" name="biography">
            {{ form.biography.label }}
            {{ form.biography(class='form-control', placeholder="Enter a short biography about yourself") }}
        </div>
        
        
        <div class="form-group" ng-model="password" name="password">
            {{ form.password.label }}
            {{ form.password(class='form-control') }}
          </div>
          
        <div class="form-group" ng-model="confirm" name="confirm">
            {{form.confirm.label}}
            {{ form.confirm(class='form-control') }}
        </div>  
        
        
         <div class="form-group" ng-model="image" name="image">
            {{ form.image.label }}
            {{ form.image(class='form-control', placeholder="Select your profile photo") }}
        </div>

        <button type="submit" class="btn btn-success btn-lg">Register</button>
        </form>
    
</div>
